body {
    margin: 0;
    border: 0;
}

h1 {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: brown;
}

.conteiner {
    margin: 100px;
    border: 2px solid rgb(180, 173, 155);;
    border-radius: 15px;
    background-color: rgb(190, 189, 169);
}

.main-cartoon {
    margin: 25px;
    border: 2px solid rgb(157, 157, 146);;
    border-radius: 15px;
    background-color: rgb(172, 166, 151);
    padding-left: 80px;
    padding-right: 80px;

    display: flex;
    flex-direction: row;
}

.elemento-cartoon {
    margin: 25px;
    border: 1px solid rgb(68, 68, 61);

}


.tom-cartoon {
    width: 340;
    height: 260px;
    border-radius: 15px;
}

.from-cartoon {
    padding-top: 90px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;



}

.box-cartoon {
    width: 330px;
    height: 26px;

    font-size: 14px;
    border: 1px solid rgb(94, 108, 94);
    border-radius: 5px;
    background-color: rgb(193, 193, 187);
    

}


.botao-cartoon {
    width: 165px;
    height: 24px;
    color: cadetblue;
    background-color: rgb(192, 192, 192);
    border-radius: 5px;
    border: 1px solid rgb(195, 195, 192);
}